version: '3.8'

services:
  speedcam:
    build: .
    container_name: speed-cam-pi5
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./config:/app/config
      - ./data:/app/data
      - /dev:/dev
      - /run/udev:/run/udev:ro
    privileged: true
    environment:
      - PYTHONUNBUFFERED=1
